<main class="album-view container narrow">
     <section class="clearfix">
         <div class="column half">
             <img src="{{ album.albumArtUrl }}" class="album-cover-art">
         </div>
         <div class="album-view-details column half">
             <h2 class="album-view-title">{{ album.title }}</h2>
             <h3 class="album-view-artist">{{ album.artist }}</h3>
             <h5 class="album-view-release-info">{{album.year || album.record-label}}</h5>
         </div>
     </section>
     <table class="album-view-song-list">
         <tr class="album-view-song-item">
             <td class="song-item-number" ng-repeat="n in track by $index">{{n}}</td>
             <td class="song-item-title">{{ album.title }}</td>
             <td class="song-item-duration">{{ album.songs.length }}</td>
         </tr>
     </table>
 </main>
